.main {
  position: relative;
  &__image {
    &_down {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    &_up {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
    .aside {
      .name {
        &__links {
          &_link {
            text-decoration: none;
          }
          &_icon {
            width: 25px;
            height: 25px;
          }
        }
      }
      .contacts {
        &__link {
          &_icon {
            width: 30px;
            height: 20px;
          }
        }
      }
    }
  }
}


